.ticket {
  padding: 40px 60px 36px;
  background-color: #5957db;
}

.ticket__headline {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #43d000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ticket__content {
  padding: 20px 30px 0;
  font-size: 12px;
  line-height: 14px;
  background-color: #ffffff;
  background-image: url("../img/ticket_bg-right.svg"), url("../img/ticket_bg-left.svg"), url("../img/time-bg_icon.svg");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: bottom 78px right, bottom 78px left, bottom 85px center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ticket__roster {
  display: grid;
  padding-bottom: 56px;
  grid-template-columns: 50px 1fr;
  grid-gap: 20px;
}

.ticket__name {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #aaaaaa;
}

.ticket__text {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  color: #666666;
}

.ticket__barcode {
  padding-bottom: 30px;
}
