* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1920px;
  height: 100vh;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

nav {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-areas: "menu order info";
  grid-template-columns: 260px auto 360px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.wrap {
  width: 1166px;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff.woff") format("woff");
}


@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
