* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1920px;
  height: 100vh;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #666666;
}

h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-areas: "menu order info";
  grid-template-columns: 260px auto 360px;
}

.order {
  margin: 60px 60px 0;
  grid-area: order;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 30px;
  grid-template-rows: repeat(4, auto);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff.woff") format("woff");
}


@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
